ion-content{
  background: linear-gradient(to right, #56ccf2, #2f80ed); 
}
h2{
  background: blue;
  text-align: center;
  color: white;
  }
p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
  color: rgb(69, 42, 165);
}
a{
  color: black;
}
ion-item{
  background-color: blueviolet;
}
h3{
  text-align: center;
}